<div>
  <div class="card-answer">
    <p><%= @question %><p>
    <p><em>- You</em></p>
  </div>

  <div class="card-answer coach">
    <p class="m-0"><%= @answer %><p>
    <p class="m-0"><em>- Your coach</em></p>
  </div>

  <div class="link">
    <%= link_to "Ask another question", ask_path %>
  </div>
</div>
